extends ../layout/index.pug

block styles

block content
  .container-fluid.no-gutters
    .banner
      h1
        |Sanelukone 0.0.1-alpha  
  .container.page-container
    .row
      .col-xs-24.no-gutters
        h3
          |Sanelut
    .row
      .col-xs-24.sessions