doctype html
html
  include ../includes/head.pug
  body.index
    .row.no-margins
      .col-xs.no-gutters.no-overflow
        block content
    .row.no-margins
      .col-xs.no-gutters.no-overflow
        include ../includes/footer.pug