- var title = moment(started).locale('fi').format('LLLL');
.row
  .session.col-xs-24(data-session-id=id)
    .row
      .col-xs-12.no-gutters
        h4.title
          =title
        p.state
          if state == 'RECORDING'
            span(style="color:red")
              |Nauhoitetaan...
          if state == 'PROCESSING'
            span(style="color:organge")
              |Tunnistetaan...
      .col-xs-12.text-xs-right
        .clip-container
          audio(controls)
            source(src='/sessions/' + id + '/clipdatas')
    .row
      .col-xs-24.no-gutters
        .text-container(style="display:none")
          .text
    .row
      .col-xs-12.no-gutters.buttons-container
        a.fa.fa-trash-o.trash-session
        a.fa.fa-pencil-square-o.edit-session(style="display:none")